{% block content %}
{% include "header.html" %}
<div class="upload-container">
    <form class="row justify-content-md-center" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-auto">
            {{ form.file_field.label }}
        </div>
        <div class="col-auto">
            {{ form.file_field(class_="form-control") }}
        </div>
        <div class="col-auto">
            {{ form.submit(class_="btn btn-primary mb-2") }}
        </div>
    </form>
</div>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% include "footer.html" %}
{% endblock %}